{% extends 'home.html' %}
{% load static %}

{% block title %}Edit Review{% endblock %}

{% block logged_in_content %}
<h2>Edit Review</h2>
    {!--% if not is_authorized %--}
        You need to be a member of the customer service to edit reviews.<br><br>
    {!--% endif %--}

    {{ review.user.username }} on {{ review.timestamp }}
    <br>
    {{ review.text }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="review_id" name="review_id" value="{{ review.id }}">
        <button type="submit">Edit</button>
        <button type="submit">Delete</button>
    </form>
{% endblock %}

{% block not_logged_in_content %}
    <p>You must log in edit reviews</p>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}