{% extends "base.html" %}
{% load static %}

{% block title %}Würfelschubser{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block content %}
    <h2>Der heimatliche Hafen</h2>
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'game-list' %}">Show me the Games</a></p>
            <a href="{% url 'logout' %}">logout</a>
        {% endblock %}
    {% else %}
       {% block not_logged_in_content %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Login</a>
       {% endblock %}
    {% endif %}
{% endblock %}

