{% extends 'home.html' %}
{% load static %}


{% block title %}Review details{% endblock %}

{% block content %}

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Review Löschen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form onSubmit="deleteReview(event, this)">
                    <input type="hidden" name="variable" value="{{ that_one_Review.id }}" class="review_id">
                    {% csrf_token %}
                    <p>Bist du dir sicher dass du diese Bewertung löschen möchtest?</p>
                    <button type="submit" class="btn btn-danger btn-block">Löschen</button>
                </form>
            </div>
        </div>
    </div>
</div>





<h2>Review detail</h2>

    <table>
    <tr>
        <td><b>Title:</b></td>
        <td>{{ that_one_Review.title }}<br></td>
    </tr>
    <tr>
        <td><b>Rating:</b></td>
        <td>{{ that_one_Review.get_rating_display }}<br></td>
    </tr>
    <tr>
        <td><b>Text:</b></td>
        <td>{{ that_one_Review.text }}<br></td>
    </tr>
    <tr>
        <td><b>Type:</b></td>
        <td>{{ that_one_Review.get.product_reviewed.name }}<br></td>
    </tr>
    <tr>
        <td><b>Entered by:</b></td>
        <td>{{ that_one_Review.user }}<br></td>
    </tr>
    <tr>
        <td><b>Entered on:</b></td>
        <td>{{ that_one_Review.timestamp }}<br></td>
    </tr>

    </table>
 <br>
    <span>{{ helpful_votes }}</span>
    <a href="{% url 'review_vote' that_one_Review.id 'helpful' %}">
        <img src="{% static 'Dice/like.png' %}" height="50px" width="5%" alt="">
    </a>
    <span>{{ not_helpful_votes }}</span>
    <a href="{% url 'review_vote' that_one_Review.id 'not_helpful' %}">
        <img src="{% static 'Dice/thumb-down.png' %}" height="50px" width="5%" alt="">
    </a>
    <br>
    <br>
    <a href="{% url 'reviews_product' product_reviewed_id %}">Back to Review list</a>
    {% if delete_review_allowed %}
    <br>
    <button style="color: white;" type="button" class="btn btn-transparent" data-toggle="modal" data-target="#DeleteModal">
        Review löschen
    </button>

    <br>
    <a href="{% url 'review_edit' that_one_Review.id %}">Edit Review</a>
    {% endif %}
    
{% endblock %}