<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block css %}{% endblock %}
    <title>{% block title %}Homepage Title{% endblock %}</title>
    <script src="{% static 'js/app.js' %}" defer></script>  
</head>
<body>
    {% block header %}{% endblock %}
    <header>
        <a style="color: #993300; text-decoration: none;" href="/">
            <div id="name_logo">
            
                {% block logo %}XXX{% endblock %} 
                {% block content_title %}Base Title{% endblock %} 
                
            </div>
        </a>
        
        
        <div>
            
            <div id="login">
                {% block login %}{% endblock %} 
            </div>
            
            {% if user.is_authenticated %}
                {% block cart %}{% endblock %} 
            {% endif %}
        </div>
               
    </header>
    <main>
        {% block content %}Base Content{% endblock %}
    </main>
    
    <footer>
        Das ist der Footer
    </footer>
</body>
</html>