<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block css %}{% endblock %}
    <title>{% block title %}Homepage Title{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    <header>
        <div id="name_logo">
            
            {% block logo %}XXX{% endblock %} 
            {% block content_title %}Base Title{% endblock %} 
            
        </div>
        
        <div>
            
            <div id="login">
                {% block login %}{% endblock %} 
            </div>
            
            {% if user.is_authenticated %}
                {% block cart %}{% endblock %} 
            {% endif %}
        </div>
               
    </header>
    <main>
        {% block content %}Base Content{% endblock %}
    </main>
    
    <footer>
        Das ist der Footer
    </footer>
</body>
</html>