{% extends 'home.html' %}
{% load static %}

{% block title %}Shopping cart{% endblock %}

{% block content %}

<div class="card shoppingcart" >
    <div class="card-header">
        <h5 class="card-title">Einkaufswagen</h5>
        <div class="shoppingcart_back">
            <a href="{% url 'product-list' %}">
                <button type="button" class="btn btn-transparent">
                    <i style="color: black; font-size: 30px;" class="fa fa-arrow-left"></i>
                </button>
            </a>
        </div>
        
        
      </div>
    <div class="card-body">
      

      {% if shopping_cart_is_empty %}
        <p class="card-text">Dein Einkaufswagen ist leer</p>
        <a href="{% url 'product-list' %}">Zurück zur Produktübersicht</a>
        {% else %}
        <ul class="list-group">
            {% for item in shopping_cart_items %}
            <li class="shoppingcart_item list-group-item">
                <p>{{ item.product_name }}</p>
                <p>{{ item.price }} € x {{ item.quantity }}</p>
            </li>
            
            {% endfor %}
            
        </ul>
            <p class="shoppingcart_total">Gesamtbetrag: {{ total }} €</p>
               

            

            <br><br>

            <form method="POST">
                {% csrf_token %}
                <div class="shoppingcart_buttons">
                    <button class="btn btn-danger" type="submit" name="empty">Einkaufswagen leeren</button><br>
                    <button class="btn btn-success" type="submit" name="pay">Bezahlen</button>
                </div>
                
            </form>
        {% endif %}



    
    </div>
  </div>

    
{% endblock %}