{% extends 'home.html' %}
{% load static %}

{% block title %}Product detail{% endblock %}

{% block content %}

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Produkt löschen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form onSubmit="deleteProduct(event, this)">
                    <input type="hidden" name="variable" value="{{ that_one_product.id }}" class="product_id">
                    {% csrf_token %}
                    <p>Bist du dir sicher dass du dieses Produkt löschen möchtest?</p>
                    <button type="submit" class="btn btn-danger btn-block">Löschen</button>
                </form>
            </div>
        </div>
    </div>
</div>





<div class="card product_detail">
    <div class="card-header product_detail_header">
        <img style="margin-top: 25px;" src="{{ that_one_product.image.url }}" width="100%" alt="">
        {% if user_is_authorized %}
        <div id="custumer_service_product">
            
            <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#DeleteModal">
                <i style="color: #CC3434;" class="fa fa-trash-alt"></i>
            </button>
            <a href={% url 'product-edit' that_one_product.id %}>
                <button type="button" class="btn btn-transparent">
                    <i class="fa fa-edit"></i>
                </button>
            </a>
        </div>
            
        {% endif %}
    </div>
    <div style="margin: 0 10px;" class="product_info card-body">
        <div class="product_info_leftside">
            <p class="product_prize card-title">€{{ that_one_product.prize }}0</p>
            <p class="product_info_fontsize">{{ that_one_product.name }}</p>
            <div class="stars">
                {% for i in max_stars %}
                        {% if that_one_product.average_rating >= i %}
                            <i style="color: gold;" class="fas fa-star rating_stars"></i>
                        {% else %}
                            <i style="color: gold;" class="far fa-star rating_stars"></i>
                        {% endif %}
                        
                    {% endfor %}
            </div>
        </div>
        <div class="product_info_rightside">
            <p class="product_info_fontsize">Farbe: {{ that_one_product.colour }}</p>
            <p class="product_info_fontsize">{{ that_one_product.get_sides_display }}</p>
            <a href="{{ that_one_product.product_info.url }}" type="application/pdf" width="500px" alt="" target="__blank">Produktinfo</a>
        </div>
        <p id="product_id" style="display: none;">{{product.id}}</p>

    </div>
    <div class="card-body">
        <p style="color: rgba(0,0,0,0.7);" class="">{{ that_one_product.description }}</p>
        
    </div>
    <div class="product_review_buttons">
        {% if review_allowed%}
            <a class="product_review_button" href="{% url 'review_create' that_one_product.id %}">
                <button type="button" class="product_review_button btn btn-secondary">Bewertung schreiben</button>
            </a>
        {% endif %}
        <a class="product_review_button" href="{% url 'reviews_product' that_one_product.id %}">
            <button type="button" class="product_review_button btn btn-secondary">Bewertungen ansehen</button>
        </a>
        
        
    </div>
    
    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data" action="/products/show/{{that_one_product.id}}/" onSubmit="addToCart(event, this)">
        <input type="hidden" name="variable" value="{{ that_one_product.id }}" class="product_id">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-block">Kaufen</button>
    </form>
    {% endif %}

    
  </div>




{% endblock %}

