{% extends 'home.html' %}

{% block title %}Product detail{% endblock %}

{% block content %}
<h2>Product detail</h2>

<table>
    <tr>
        <td><b>Title:</b></td>
        <td>{{ that_one_product.name }}<br></td>
    </tr>
    <tr>
        <td><b>Description:</b></td>
        <td>{{ that_one_product.description }}<br></td>
    </tr>
    <tr>
        <td><b>Color:</b></td>
        <td>{{ that_one_product.colour }}<br></td>
    </tr>
    <tr>
        <td><b>Sides:</b></td>
        <td>{{ that_one_product.get_sides_display }}<br></td>
    </tr>
    <tr>
        <td><b>Prize:</b></td>
        <td>{{ that_one_product.prize }}€<br></td>
    </tr>
    <tr>
        <td><b>Image:</b>
            <img src="{{ that_one_product.image.url }}" height="300px" width="100%" alt=""><br>
        </td>
        
    </tr>
    <tr>
        <td><b>Product Info:</b>
            <a src="{{ that_one_product.product_info.url }}" type="application/pdf" height="300px" width="100%" alt=""><br>
        </td>

    </tr>
</table>
{% if user.is_authenticated %}
        <br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Add to shopping cart</button>
        </form>
    {% else %}
        <br><a href="{% url 'login' %}">Login</a> to add to shopping cart
        <br>
{%  endif %}

<br>
<a href="{% url 'review_create' that_one_product.id %}">Write Reviews</a>
<br>
<a href="{% url 'reviews_product' that_one_product.id %}">Show Reviews</a>
<br><br>
<a href="{% url 'product-list' %}">Back to all products</a>
<br><br>
{% if user_is_authorized %}
    <a href={% url 'product-confirm_delete' that_one_product.id %}>Delete Product</a><br>
    <a href={% url 'product-edit' that_one_product.id %}>Edit Product</a><br>
{% endif %}
{% endblock %}