{% extends 'home.html' %}
{% load static %}


{% block title %}Products list{% endblock %}

{% block content %}
<div id="product_list_wrapper">
    <hr>
    <div class="searchform">
        <form method="POST" action="/products/search/">

            <input class="form-control" type="text" name="name" placeholder="Name">

            <select name="sides" class="custom-select">
                <option selected value="">Seitenanzahl</option>
                <option value="D4">4 Seiten</option>
                <option value="D6">6 Seiten</option>
                <option value="D8">8 Seiten</option>
                <option value="D10">10 Seiten</option>
                <option value="D12">12 Seiten</option>
                <option value="D20">20 Seiten</option>
            </select>

            <select name="rating" class="custom-select">
                <option selected value="">Bewertung</option>
                <option value="1">1 Stern</option>
                <option value="2">2 Sterne</option>
                <option value="3">3 Sterne</option>
                <option value="4">4 Sterne</option>
                <option value="5">5 Sterne</option>
            </select>
            {% csrf_token %}
            <button type="submit" class="btn btn-light"><i class="fa fa-search"></i></button>


        </form>
        <a href="/products/show">
            <button type="button" class="btn btn-danger btn-block">Reset</button>
        </a>
    </div>
    <div id="product_list">
        {% for product in all_products %}
        <a class="single_product_link" href="/products/show/{{ product.id }}/">
            <div class="single_product card">
                <img class="card-img-top" src="{{ product.image.url }}" height="300px" width="100%" alt=""><br>
                <div class="product_info card-body">
                    <div class="product_info_leftside">
                        <p class="product_prize card-title">€{{product.prize}}0</p>
                        <p class="product_info_fontsize">{{product.name}}</p>
                    </div>
                    <div class="product_info_rightside">
                        <p class="product_info_fontsize">Farbe: {{product.colour}}</p>
                        <p class="product_info_fontsize">{{product.get_sides_display}}</p>

                        {% for i in max_stars %}
                            {% if product.average_rating >= i %}
                                <i style="color: gold;" class="fas fa-star"></i>
                            {% else %}
                                <i style="color: gold;" class="far fa-star"></i>
                            {% endif %}
                            
                        {% endfor %}
                        
                    </div>
                    <p id="product_id" style="display: none;">{{product.id}}</p>

                </div>
                {% if user.is_authenticated %}
        <br>
        <form method="POST" enctype="multipart/form-data" action="/products/show/{{product.id}}/" onSubmit="addToCart(event, this)">
            <input type="hidden" name="variable" value="{{ product.id }}" class="product_id">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-block">Kaufen</button>
        </form>
    
{%  endif %}
            </div>
        </a>



        {% endfor %}
    </div>
</div>

{% if user.is_authorized %}
<a href={% url 'product-create' %}>
    <button type="button" class="add_new_product btn btn-primary btn-block">Neues Produkt hinzufügen</button>
</a>
{% endif %}
{% endblock %}